doctrine:
    dbal:
        url: '%env(resolve:DATABASE_URL)%'

    orm:
        auto_generate_proxy_classes: true
        enable_lazy_ghost_objects: true
        naming_strategy: doctrine.orm.naming_strategy.underscore_number_aware
        mappings:
            Invoices:
                type: xml
                dir: '%kernel.project_dir%/src/Modules/Invoices/Infrastructure/Persistence/Mapping'
                prefix: 'Modules\Invoices\Domain\Models'
                is_bundle: false

when@test:
    doctrine:
        dbal:
            dbname_suffix: '_test%env(default::TEST_TOKEN)%'
