includes:
    - vendor/phpstan/phpstan-symfony/extension.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
    level: 9
    paths:
        - src
        - tests
    excludePaths:
        - var
        - vendor
    
    symfony:
        containerXmlPath: var/cache/dev/App_KernelDevDebugContainer.xml

    doctrine:
        objectManagerLoader: tests/object-manager.php

    ignoreErrors:
        # Allow mixed in test assertions
        - '#Parameter \#1 .* of method PHPUnit\\Framework\\Assert::assert.* expects .*, mixed given#'
